@import "tailwindcss";
@import "preline/variants.css";
/* @import "@nuxt/ui"; */

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-y: scroll;
}

html,
body,
label {
  font-family: sans-serif;
}

.router-link-active {
  font-weight: bold;
}
